Package: com.mtac.ampere
Name: Ampere
Version: 1.4
Architecture: iphoneos-arm
Description: iOS 16 Style Battery Indicator
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0), preferenceloader
