<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Appearance</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>AmpSelectorCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.mtac.amp</string>
			<key>label</key>
			<string>Percent Color</string>
			<key>subtitle</key>
			<string>Swipe for more info</string>
			<key>key</key>
			<string>textStyle</string>
			<key>values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>titles</key>
			<array>
				<string>Default</string>
				<string>Transparent</string>
				<string>Custom</string>
			</array>
			<key>images</key>
			<array>
				<string>applelogo</string>
				<string>shadow</string>
				<string>paintpalette.fill</string>
			</array>
			<key>PostNotification</key>
			<string>com.mtac.amp/preferences.changed</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>percent</string>
			</dict>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>AmpColorCell</string>
			<key>defaults</key>
			<string>com.mtac.amp</string>
			<key>key</key>
			<string>textColor</string>
			<key>label</key>
			<string>Text Color</string>
			<key>subtitle</key>
			<string>Set percentage label color</string>
			<key>height</key>
			<string>70</string>
			<key>id</key>
			<string>textColor</string>
			<key>PostNotification</key>
			<string>com.mtac.amp/preferences.changed</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>paintbrush.pointed.fill</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>AmpSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.amp</string>
			<key>label</key>
			<string>Fill Color</string>
			<key>subtitle</key>
			<string>Override normal color. Swipe cell to set color</string>
			<key>key</key>
			<string>overrideColorStandard</string>
			<key>id</key>
			<string>overrideColorStandard</string>
			<key>height</key>
			<string>85</string>
			<key>PostNotification</key>
			<string>com.mtac.amp/preferences.changed</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>battery.100</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>AmpSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.amp</string>
			<key>label</key>
			<string>Fill Color</string>
			<key>subtitle</key>
			<string>Override charging color. Swipe cell to set color</string>
			<key>key</key>
			<string>overrideColorCharging</string>
			<key>id</key>
			<string>overrideColorCharging</string>
			<key>height</key>
			<string>85</string>
			<key>PostNotification</key>
			<string>com.mtac.amp/preferences.changed</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>battery.100</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>AmpSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.amp</string>
			<key>label</key>
			<string>Fill Color</string>
			<key>subtitle</key>
			<string>Override low power color. Swipe cell to set color</string>
			<key>key</key>
			<string>overrideColorLowPower</string>
			<key>id</key>
			<string>overrideColorLowPower</string>
			<key>height</key>
			<string>85</string>
			<key>PostNotification</key>
			<string>com.mtac.amp/preferences.changed</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>battery.100</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>AmpSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.amp</string>
			<key>label</key>
			<string>Fill Color</string>
			<key>subtitle</key>
			<string>Override critical color. Swipe cell to set color</string>
			<key>key</key>
			<string>overrideColorCritical</string>
			<key>id</key>
			<string>overrideColorCritical</string>
			<key>height</key>
			<string>85</string>
			<key>PostNotification</key>
			<string>com.mtac.amp/preferences.changed</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>battery.100</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Font</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>AmpStepperCell</string>
			<key>default</key>
			<real>10</real>
			<key>defaults</key>
			<string>com.mtac.amp</string>
			<key>key</key>
			<string>fontSize</string>
			<key>id</key>
			<string>fontSize</string>
			<key>label</key>
			<string>Font Size:</string>
			<key>subtitle</key>
			<string>Swipe left to reset</string>
			<key>max</key>
			<real>12</real>
			<key>min</key>
			<real>4</real>
			<key>height</key>
			<string>65</string>
			<key>PostNotification</key>
			<string>com.mtac.amp/preferences.changed</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>textformat</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Bolt</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>AmpSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.mtac.amp</string>
			<key>label</key>
			<string>Show Charging Bolt</string>
			<key>subtitle</key>
			<string>Moves charging bolt next to battery percentage</string>
			<key>key</key>
			<string>showBolt</string>
			<key>id</key>
			<string>showBolt</string>
			<key>height</key>
			<string>85</string>
			<key>PostNotification</key>
			<string>com.mtac.amp/preferences.changed</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>bolt.fill</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gestures</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>AmpSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.amp</string>
			<key>label</key>
			<string>Use Low Power Gesture</string>
			<key>subtitle</key>
			<string>Tap battery icon to toggle Low Power mode</string>
			<key>key</key>
			<string>useGesture</string>
			<key>height</key>
			<string>85</string>
			<key>id</key>
			<string>lowPower</string>
			<key>PostNotification</key>
			<string>com.mtac.amp/preferences.changed</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>hand.point.up.fill</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Control Center</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>AmpSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.mtac.amp</string>
			<key>label</key>
			<string>Enable Battery Info</string>
			<key>subtitle</key>
			<string>Force Touch on Low Power Mode module in Control Center to view</string>
			<key>key</key>
			<string>useStatsModule</string>
			<key>height</key>
			<string>85</string>
			<key>id</key>
			<string>statsModule</string>
			<key>PostNotification</key>
			<string>com.mtac.amp/preferences.changed</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>switch.2</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Source</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>AmpCodeCell</string>
			<key>defaults</key>
			<string>com.mtac.amp</string>
			<key>key</key>
			<string>lowPowerColor</string>
			<key>label</key>
			<string>View Source Code</string>
			<key>subtitle</key>
			<string>https://github.com/MTACS/Ampere</string>
			<key>height</key>
			<string>70</string>
			<key>iconImageSystem</key>
			<dict>
				<key>name</key>
				<string>link</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
	</array>
	<key>title</key>
	<string>Ampere</string>
</dict>
</plist>
